<h1>Create the Database</h1> <br>
<p>Parses 'pubs.txt' to create an in-memory structure called 'records' (list of dictionaries), uses 'records' to insert rows into relations 'publication', 'author', and 'written_by', and then pickles 'records' to avoid parsing on successive runs.</p> <br>
<p>If the database 'pubs.db' has already been created, notify the user and exit.</p>

In [ ]:
run create.py 'pubs.txt'

<h1>Executing Queries</h1> <br>

In [ ]:
%load_ext sql
%sql sqlite:///database.db

<p>(1) Insert a new publication into the database.</p>

In [ ]:
%%sql
insert into publication values(157804, "Big Data and Recommender Systems", 2016, "", "");

insert into author values(83513, "David C. Anastasiu");
insert into author values(83514, "Evangelia Christakopoulou");
insert into author values(83515, "Shaden Smith");
insert into author values(83516, "Mohit Sharma");

insert into written_by values(157804, 83513);
insert into written_by values(157804, 83514);
insert into written_by values(157804, 83515);
insert into written_by values(157804, 83516);
insert into written_by values(157804, 12857);

<p>(2) Query all publications by a particular author.</p>

In [ ]:
%%sql
select p.id as ID, p.title as Title, p.booktitle as Journal, 
    p.year as Year, p.pages as Pages
from publication as p, written_by as w, author as a
where p.id = w.pub_id 
and w.author_id = a.id 
and a.name = "Geoffrey E. Hinton";

<p>(3) Query all publications in a particular year.</p>

In [ ]:
%%sql
select id as ID, title as Title, booktitle as Journal,
    year as Year, pages as Pages
from publication where year = 1947;

<p>(4) Query all publications published in a particular journal.</p>

In [ ]:
%%sql
select id as ID, title as Title, booktitle as Journal,
    year as Year, pages as Pages
from publication where booktitle = "NIPS"
limit 20;

<p>(5) Query all publications with a particular string contained in the title.</p>

In [ ]:
%%sql
select id as ID, title as Title, booktitle as Journal,
    year as Year, pages as Pages
from publication where lower(title) like "% ai %" or lower(title) like "%artificial intelligence%"
limit 20;

<p>(6) Query all publications with a combination of the author, year, journal, and title constraints.</p>

In [ ]:
%%sql
select a.name as Author, p.id as ID, p.title as Title, p.booktitle as Journal,
    p.year as Year, p.pages as Pages
from publication as p, author as a, written_by as w
where p.id = w.pub_id and w.author_id = a.id 
and a.name = "George Karypis" and lower(p.title) like "%recommender systems%" 
and p.year > 2001 and p.booktitle = "";

<p>(7) Delete a publication from a particular author, year, journal.</p>

In [ ]:
%%sql
delete from publication
where id in (
    select p.id from publication as p, author as a, written_by as w
    where p.id = w.pub_id and w.author_id = a.id
    and p.booktitle = "NIPS" and year = 1998 and name = "Geoffrey E. Hinton"
);

<p>(8) Delete all records for a given author.</p>

In [ ]:
%%sql
delete from publication
where id in (
    select p.id from publication as p, author as a, written_by as w
    where p.id = w.pub_id and w.author_id = a.id
    and name = "Geoffrey E. Hinton"
);

delete from author where name = "Geoffrey E. Hinton";

<p>(9) Change the name of an author or journal.</p>

In [ ]:
%%sql
update author
set name = "Donnie Darko"
where name = "Darko Marinov";

<p>(10) Change the title of an article or its publication year.</p>

In [ ]:
%%sql
update publication
set title = "Minority Report"
where title = "SECRETS: a secure real-time multimedia surveillance system";